<div class="content">

    <div class="nav-prev-container">
        <a href="#details/{{ project.prev }}"><i class="nav-prev"></i></a>
    </div>
    <div class="nav-next-container">
        <a href="#details/{{ project.next }}"><i class="nav-next"></i></a>
    </div>

    <div class="row head-row">
        <div class="column small-8"><h1 class="head">{{project.name}}</h1></div>
        <div class="column small-4 right"><a href="#list/all" class="back"></a></div>
    </div>
    <div class="row">
    <div class="column small-12">
        <div class="row underline">
            <div class="row padded">
                <div class="column small-6">
                    <h2 class="subheading"><i></i>Project Details</h2>
                </div>
                <div class="column small-6 right start-to-end">
                    {{ project.start_date }} to {{ project.end_date }}
                </div>
            </div>
            <div class="column small-12 project-details">{{ project.description }}</div>
        </div>

        <div class="row padded">
            <h2 class="subheading"><i></i>Project Owner</h2>
            <div class="row margined">
                <i class="avatar"></i>
                <div class="desc-owner-name">{{ project.owner.name }}</div>
            </div>
            <div class="row margined">
                <div class="columns small-3 left">
                    <div class="progress success progress-custom">
                      <span class="meter" style="width:{{ project.progress }}%"></span>
                    </div>
                </div>
                <div class="columns small-3 left progress-score">
                    <span>{{project.current_step}}</span>/{{project.total_steps}}
                </div>

            </div>
        </div>
    </div>
    <script src="http://listjs.com/no-cdn/list.js"></script>
</div>
