<div class="content">
    <div class="row head-row">
        <div class="column small-3 left"><h1 class="head">Projects Index</h1></div>
        <div class="column small-9 center">
            <ul class="filters">
                <li><a href="#list/all" class="view-all" data-slug="all">View All</a></li>
                <li><a href="#list/active" class="active" data-slug="active">Active</a></li>
                <li><a href="#list/inactive" class="inactive" data-slug="inactive">Inactive</a></li>
            </ul>
        </div>
        <div class="column small-3 right unset-padding-right hidden"><a href="#new" class="button radius button-new">New Project</a></div>
    </div>
    <div class="row">
        <table id="example" class="display compact" cellspacing="0" width="100%" border="0" cellspacing="0" cellpadding="0">
         <thead>
            <tr>
                <th>Project Name</th>
                <th>Owner</th>
                <th>Due Date</th>
                <th>Steps</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody class="list">
            {{#each projects}}
            <tr class="row{{id}}" id="row{{id}}">
                <td class="name"><a href="#details/{{id}}">{{ name }}</a></td>
                <td class="owner-name">{{ owner.name }}</td>
                <td class="end-dates">{{ end_date }}</td>
                <td class="steps" data-steps="{{ current_step }}/{{ total_steps }}">
                    <div class="">{{ current_step }}</div>
                    <div class="progress success progress-custom">
                      <span class="meter" style="width:0%"></span>
                    </div>
                    <div class="">{{ total_steps }}</div>
                    {{ current_step }} out of {{ total_steps }}
                </td>
                <td class="status">
                    <i class="status-{{ active }}"></i>
                </td>
            </tr>
            {{/each}}
        </tbody>
        </table>
    </div>
</div>
