body {
    color: #666;
    font-family: 'Open Sans', arial, sans;
}

.hidden {
    display: none;
}

.container {
    width: 95%;
    margin: 0 auto;
}

h1 {
    color: #84898A;
    margin: 1% 0;
    padding: 0;
    font-family: 'Open Sans', arial, sans;
}

h1.head {
    font-size: 22px;
    font-weight: 300;
}

#example {
    border: 0;
}

#example th {
    background: #84898A;
    color: #fff;
    font-weight: normal;
    line-height: 40px;
    border: 0;
}

#example tbody {
    border: 0 !important;
}

#example tbody tr.odd,
#example tbody tr.even,
#example tbody td.name {
    background: #fff;
    padding: 12px 0 5px 25px;
}

#example tbody td {
    font-family: 'Verdana', 'Open Sans', arial, sans;
    font-size: 13px;
    color: #999;
    border: 0 !important;
}

#example td.steps div {
    width: 10%;
    display: none;
}

#example td.steps .progress-custom {
    width: 80%;
}

.filters {
    margin: 4px 0;
    padding: 0;
    display: inline-block;
    width: 65%;
}

.filters li {
    list-style-type: none;
    float: left;
    margin: 0 1.15%;
}

.filters li a {
    border-radius: 5px;
    border: 2px solid #ddd;
    display: inline-block;
    width: 100%;
    padding: 0.1rem 0.6rem;
    color: #84898A;
    font-style: italic;
    font-size: 14px;
}

.filters li a.selected {
    border: 2px solid #329DCB;
    background: #329DCB;
    color: #fff;
    font-style: italic;
}

.head-row {
    padding: 20px 0 10px 0;
    margin-bottom: 2px;
    border-bottom: 1px solid #F8961D;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.unset-padding-right {
    padding-right: 0;
}

.button-new {
    padding: 2.5% 6%;
    background: #F8961D;
}

.back {
    background: url("images/x.svg") no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.subheading {
    font-size: 18px;
    font-family: 'Verdana', 'Open Sans', arial, sans;
    color: #888;
    margin: 2% auto 3% auto;
}

.subheading i {
    background: url("images/minus.svg") no-repeat;
    width: 22px;
    height: 17px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-left: 5px;
}

.project-details {
    color: #999;
    font-size: 13px;
}

.progress.meter {
    background: #999;
}

.success {
    /*color: #5ABE5A;*/
    /*background: #5ABE5A;*/
}

.progress.success .meter {
    background: #5ABE5A;
}

.avatar {
    background: url("images/avatar.svg") no-repeat;
    width: 45px;
    height: 45px;
    display: inline-block;
    margin: 0 0 0 27px;
}

.desc-owner-name {
    display: inline-block;
    line-height: 34px;
    position: relative;
    top: -10px;
    margin-left: 6px;
    color: #04A3E8;
}

.progress-custom {
    height: 16px;
    width: 100%;
    margin-left: 13px;
    padding: 0;
}

.progress-score {
    font-size: 18px;
    top: -6px;
    position: relative;
}

.underline {
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.padded {
    margin: 10px 0;
    padding: 15px 0;
}

.row.margined {
    margin-left: 5px;
}

.start-to-end {
    color: #ccc;
    font-size: 14px;
    margin: 8px 0;
}

.progress-score span {
    color: #5ABE5A;
}

.nav-prev-container, .nav-next-container {
    position: absolute;
    top: 50%;
    z-index: 1;
}

.nav-prev-container {
    background: #f0f0f0;
    left: 0;
}

.nav-next-container {
    background: #f0f0f0;
    right: 0;
}

.nav-prev-container a, .nav-next-container a {
    display: block;
}

.nav-prev, .nav-next {
    display: inline-block;
    padding: 10px 2px;
    opacity: 0.6;
}

.nav-prev {
    background: url("images/left-arrow.svg");
    width: 30px;
    height: 30px;
}

.nav-next {
    background: url("images/right-arrow.svg");
    width: 30px;
    height: 30px;
}

.status {
    text-align: center;
}

.status- {
    border: 1px solid #B6B6B6;
    width: 20px;
    display: inline-block;
    height: 20px;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
}

.status-true {
    border: 1px solid #5abe5a;
    width: 20px;
    display: inline-block;
    height: 20px;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    background: #a6ffbe;
    background: -moz-linear-gradient(top, #a6ffbe 0%, #55e08d 43%, #5abe5a 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #a6ffbe), color-stop(43%, #55e08d), color-stop(100%, #5abe5a));
    background: -webkit-linear-gradient(top, #a6ffbe 0%, #55e08d 43%, #5abe5a 100%);
    background: -o-linear-gradient(top, #a6ffbe 0%, #55e08d 43%, #5abe5a 100%);
    background: -ms-linear-gradient(top, #a6ffbe 0%, #55e08d 43%, #5abe5a 100%);
    background: linear-gradient(to bottom, #a6ffbe 0%, #55e08d 43%, #5abe5a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6ffbe', endColorstr='#5abe5a', GradientType=0 );
}
